body {
    background-color: #300a24;
    /* Couleur de fond du terminal Ubuntu */
    color: #ffffff;
    /* Texte blanc */
    font-family: 'Ubuntu Mono', monospace;
    /* Police de caractères utilisée dans le terminal Ubuntu */
    font-size: 20px;
}

.terminal {
    padding: 20px;
    border: 1px solid #ffffff;
    /* Bordure blanche */
    border-radius: 5px;
    white-space: pre-wrap;
    /* Pour conserver les sauts de ligne */
}

.prompt {
    color: #8ae234;
    /* Texte vert */
}

.dir {
    color: #34e2e2;
    /* Texte cyan */
}

a {
    color: #ffffff;
    /* Texte bleu */
}

#cat {
    position: absolute;
    right: 0;
    top: -1px;
}