@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@plugin '@tailwindcss/typography';

@theme {
    --color-background: #f4eee0;
    --color-text: #433831;
    --color-header-bg: #faf5e6;
    --color-link: #00616e;
    --color-link-hover: #004551;
    --color-footer-bg: #faf5e6;
    /* #ede8d9; */
}

/* Appliquer les variables globalement */
body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: system-ui, sans-serif;
}

/* Header */
header {
    background-color: var(--color-header-bg);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* Liens */
a {
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--color-link-hover);
    text-decoration: none;
}

/* Footer */
footer {
    background-color: var(--color-footer-bg);
    color: var(--color-text);
    text-align: center;
}