---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="404">
  <div class="flex flex-col items-center justify-center text-center min-h-full">
    <h1 class="text-6xl font-bold mb-4">404</h1>
    <p class="text-lg text-gray-600">
      La page que vous recherchez n'existe pas.
    </p>
  </div>
</BaseLayout>
