---
import Social from "./Social.astro";
---

<footer class="z-10">
  <div
    class="max-w-4xl mx-auto py-8 px-4 text-center text-sm text-muted-foreground"
  >
    <p>© {new Date().getFullYear()} Justin Sillou. Tous droits réservés.</p>
    <div class="mt-2">
      <Social platform="github" username="justinsillou" />
      <Social platform="linkedin" username="justinsillou" />
      <Social platform="rss" />
    </div>
  </div>
</footer>
