---
import Navigation from "./Navigation.astro";
---

<header>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <!-- Logo / Titre du site -->
      <a href="/" class="text-xl font-bold"> Justin S. </a>

      <!-- Navigation -->
      <Navigation />
    </div>
  </div>
</header>
