---

---

<nav class="flex space-x-4">
  <a href="/" class="hover:underline">Home</a>
  <a href="/now" class="hover:underline">Now</a>
  <a href="/blog" class="hover:underline">Blog</a>
  <a href="/contact" class="hover:underline">Contact</a>
</nav>
