---
import "../styles/global.css";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ça mijote… Site en maintenance</title>
    <link rel="icon" href="/favicon.svg" />
  </head>
  <body
    class="bg-gradient-to-br from-purple-800 via-indigo-700 to-pink-700 flex items-center justify-center min-h-screen text-white"
  >
    <slot />
  </body>
</html>
