---
import "../styles/global.css";
import Header from "../components/Header";
import Footer from "../components/Footer.astro";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <link rel="icon" href="/favicon.svg" />
  </head>
  <body
    class="bg-background text-text leading-relaxed min-h-screen grid grid-rows-[auto_1fr_auto]"
  >
    <!-- Header -->
    <Header client:load />

    <!-- Contenu principal -->
    <main class="px-4 max-w-7xl mx-auto w-full">
      <slot />
    </main>

    <!-- Footer -->
    <Footer />
  </body>
</html>
